<!DOCTYPE HTML>

<html lang="fr" xmlns:ng="http://angularjs.org">
  <!--[if IE 8]><html class="lt-ie9"  lang="fr"> <![endif]-->
<head>

    <title>{{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=1440, initial-scale=1">
    {{{meta_keywords}}}
    {{{meta_description}}}
    <meta http-equiv="content-language" content="fr" />


    {{{StylesCSS}}}
    <!-- <script type='text/javascript'     src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script> -->
    <!-- <script src="/static/js/lib/modernizr.js" type="text/javascript"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="/static/js/lib/jquery.min.js">\x3C/script>')</script> -->
    <!-- <script src="/static/js/lib/underscore.js" type="text/javascript"></script> -->
    <!-- <script src="/static/js/lib/jquery.cookie.js" type="text/javascript"></script> -->
    <!--[if (gte IE 6)&(lte IE 9)]>
    <script src="//rawgit.com/jpillora/xdomain/gh-pages/dist/0.6/xdomain.js" slave="//webbetv.test.tecteo.intra/proxy.html"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.js" type="text/javascript"></script>
    <script src="/static/js/lib/selectivizr.js" type="text/javascript"></script>
    <script src="/static/js/lib/jQuery.XDomainRequest.min.js" type="text/javascript"></script>
    <script src="/static/js/hacks/IE8.js" type="text/javascript"></script>
    <![endif]-->
    <meta name="viewport" content="initial-scale=1" />
</head>
<body>
<!-- Google Tag Manager -->
<!-- <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P4P4Z4"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P4P4Z4');</script> -->
<!-- End Google Tag Manager -->
{{>partials/contentHeader}}
{{>body}}
{{>partials/contentFooter}}
{{>partials/system/footer}}
