@charset "UTF-8";
/* color magritte 2015 */
/* offer colours */
/* =) */
/* Color product */
/* Nuance de gris */
/* Noir/gris transparent */
/* page offre */
nav#subMenu {
  position: absolute;
  width: 100%;
  top: 704px;
  z-index: 10000;
  background: url('/static/images/floating-menu-bg.jpg') center bottom no-repeat;
  background-size: cover; }
  nav#subMenu ul {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    nav#subMenu ul:after {
      content: " ";
      display: block;
      clear: both; }
    nav#subMenu ul li {
      display: inline;
      float: left;
      line-height: 60px;
      padding: 0 33px; }
      nav#subMenu ul li a {
        color: #ffffff;
        text-decoration: none; }
      nav#subMenu ul li a:hover {
        color: #e85d10; }
      nav#subMenu ul li .active {
        color: #e85d10; }
