@charset "UTF-8";
/* color magritte 2015 */
/* offer colours */
/* =) */
/* Color product */
/* Nuance de gris */
/* Noir/gris transparent */
/* page offre */
/* On doit ajouter cette fonction lorsque compass utilise les nombres */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/* MIXIN FOR FUNNEL */
header section {
  height: 50px;
  position: relative; }
  header section div:first-child, header section div:last-child {
    font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
    color: #999999;
    line-height: 50px;
    vertical-align: middle;
    font-size: 0.8em; }
  header section div:first-child {
    display: inline;
    float: left; }
    header section div:first-child a {
      color: #999999;
      text-decoration: none;
      line-height: 50px; }
  header section div:last-child {
    display: inline;
    float: right;
    position: relative; }
    header section div:last-child a {
      color: #999999;
      text-decoration: none;
      line-height: 50px; }
    header section div:last-child .sprites {
      position: relative;
      top: 5px; }
    header section div:last-child .fb {
      margin-left: 10px; }
  header section #searchbox {
    position: absolute;
    left: 300px;
    line-height: 50px; }
    header section #searchbox input {
      background: #333333;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url('/static/js/lib/PIE.htc');
      position: relative;
      color: #ffffff;
      padding: 8px 40px 8px 15px;
      width: 318px; }
    header section #searchbox .sprites {
      position: absolute;
      top: 18px;
      right: 12px; }
header nav {
  background: #000000; }

#headerMenu {
  height: 77px;
  line-height: 69px;
  position: relative; }
  #headerMenu img {
    display: inline;
    float: left;
    padding-top: 18px; }
  #headerMenu .bg-menu {
    margin-top: -18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    behavior: url('/static/js/lib/PIE.htc'); }
  #headerMenu img.clas-col-img {
    padding: 0;
    margin: 0 0 20px 0; }
  #headerMenu .clas-col-content-centered img.clas-col-img {
    margin-bottom: 18px; }
  #headerMenu .headerMenu-menu {
    margin: 0 0 0 12px;
    padding-top: 10px;
    width: 853px;
    display: inline;
    float: left; }
  #headerMenu .headerMenu-list {
    list-style-type: none;
    display: inline;
    float: left;
    font-size: 1em;
    color: #ffffff;
    padding: 0 2px; }
    #headerMenu .headerMenu-list .menu-home {
      background: none;
      color: #ffffff;
      font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url('/static/js/lib/PIE.htc');
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 0 0.5em;
      line-height: 40px;
      height: 40px;
      width: auto;
      padding: "0";
      position: relative;
      cursor: pointer;
      behavior: url('/static/js/lib/PIE.htc');
      padding: 0 12px; }
      #headerMenu .headerMenu-list .menu-home:hover {
        background: #e85d10; }
      #headerMenu .headerMenu-list .menu-home.active {
        background-color: #e85d10;
        color: #ffffff; }
    #headerMenu .headerMenu-list .abonner {
      background: #95bc0d;
      color: #ffffff;
      font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url('/static/js/lib/PIE.htc');
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 0 0.5em;
      line-height: 40px;
      height: 40px;
      width: 110px;
      padding: "0";
      position: relative;
      cursor: pointer;
      behavior: url('/static/js/lib/PIE.htc');
      margin-left: 20px; }
      #headerMenu .headerMenu-list .abonner:hover {
        background: #e85d10; }
    #headerMenu .headerMenu-list .headerMenu-lien {
      background: none;
      color: #ffffff;
      font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url('/static/js/lib/PIE.htc');
      cursor: pointer;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 0 0.5em;
      line-height: 40px;
      height: 40px;
      width: auto;
      padding: "0";
      position: relative;
      cursor: pointer;
      behavior: url('/static/js/lib/PIE.htc');
      padding: 0 10px; }
      #headerMenu .headerMenu-list .headerMenu-lien:hover {
        background: #e85d10; }
      #headerMenu .headerMenu-list .headerMenu-lien.active {
        background-color: #e85d10;
        color: #ffffff; }
    #headerMenu .headerMenu-list .sprites {
      padding: 0; }
    #headerMenu .headerMenu-list .home:hover {
      background: url('/static/images/spritesheet.png') -1px -22px no-repeat; }
    #headerMenu .headerMenu-list:last-child {
      display: inline;
      float: right; }
  #headerMenu .full-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000; }
  #headerMenu li.active, #headerMenu li.hasHoverMenu:hover {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background: url('/static/images/bg-hovermenu-bt.jpg');
    behavior: url('/static/js/lib/PIE.htc'); }
    #headerMenu li.active a.active, #headerMenu li.active a:hover, #headerMenu li.hasHoverMenu:hover a.active, #headerMenu li.hasHoverMenu:hover a:hover {
      background: none; }

.hovermenu {
  display: none;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  behavior: url('/static/js/lib/PIE.htc');
  margin-top: 2px;
  padding: 45px 0 45px 18px;
  width: 100%;
  height: 470px;
  background: #ffffff url('/static/images/bg-hovermenu.jpg') no-repeat;
  position: absolute;
  top: 77px;
  left: 0;
  z-index: 11000; }
  .hovermenu:after {
    content: " ";
    display: block;
    clear: both; }
  .hovermenu .btn-discover_program {
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: 50px;
    right: 20px;
    color: #e85d10; }
  .hovermenu ul {
    line-height: 20px;
    float: left;
    width: 190px;
    margin-right: 20px;
    border-right: 1px solid #c9c9ca;
    padding-right: 0;
    min-height: 400px; }
    .hovermenu ul li {
      margin: 7px 0; }
      .hovermenu ul li.title {
        color: #000000;
        font-family: 'american', Courier, 'Courier New';
        font-size: 1.6em;
        padding-bottom: 20px;
        line-height: 28px; }
      .hovermenu ul li a {
        color: #536870;
        font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif;
        font-size: 1em;
        line-height: 20px;
        text-decoration: none; }
        .hovermenu ul li a:hover, .hovermenu ul li a.active {
          color: #e85d10; }
  .hovermenu .vignettes {
    width: 700px;
    margin-left: 10px;
    float: left; }
    .hovermenu .vignettes h2 {
      line-height: 30px;
      font-size: 1.6em;
      font-family: 'american', Courier, 'Courier New';
      margin: 0 0 18px 0;
      color: #000000; }
    .hovermenu .vignettes article {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      behavior: url('/static/js/lib/PIE.htc');
      height: 352px;
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .hovermenu .vignettes article a {
        text-decoration: none; }
      .hovermenu .vignettes article a.absolute {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        cursor: pointer;
        text-decoration: none; }
      .hovermenu .vignettes article:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; }
      .hovermenu .vignettes article .bg-menu {
        margin-top: -18px;
        border-radius: none; }
      .hovermenu .vignettes article .vignette-bg {
        position: absolute;
        top: 0;
        z-index: 5; }
      .hovermenu .vignettes article .title-box {
        background: #fff;
        text-align: center;
        margin-top: 130px;
        line-height: 81px;
        font-size: 16px;
        display: block;
        width: 101%;
        position: relative;
        z-index: 20;
        height: 80px;
        text-decoration: none;
        font-family: 'american', Courier, 'Courier New';
        color: #444; }
      .hovermenu .vignettes article .multiline {
        line-height: 16px;
        padding-top: 26px; }
      .hovermenu .vignettes article .multiline-third {
        padding-top: 16px;
        line-height: 16px; }
      .hovermenu .vignettes article footer {
        position: absolute;
        z-index: 20;
        bottom: 0;
        text-align: left;
        background: #000;
        padding: 20px 0 20px 20px;
        font-weight: lighter;
        color: #ffffff;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0 0 5px 5px;
        behavior: url('/static/js/lib/PIE.htc');
        width: 100%;
        height: 142px; }
        .hovermenu .vignettes article footer span {
          width: 100%;
          text-align: left;
          display: inline-block; }
        .hovermenu .vignettes article footer .time {
          font-size: 16px;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode_grand_texte {
          padding-top: 5px !important; }
        .hovermenu .vignettes article footer .episode {
          color: #999999;
          font-size: 15px;
          line-height: 18px;
          padding-top: 12px;
          padding-bottom: 20px;
          display: inline-block;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode {
          height: 40px; }
        .hovermenu .vignettes article footer a {
          text-align: left;
          color: #e85d10;
          font-size: 18px;
          font-weight: lighter;
          text-decoration: none;
          font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }
        .hovermenu .vignettes article footer.vignettes-small-teaser {
          padding: 8px 0 0 20px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .episode {
            font-size: 15px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .teaser-link {
            font-size: 18px;
            color: #e85d10; }
        .hovermenu .vignettes article footer .pass {
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
          background: #262626 url('/static/images/sport/icon-daypass.png') 8px center no-repeat;
          line-height: 35px;
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          behavior: url('/static/js/lib/PIE.htc'); }
          .hovermenu .vignettes article footer .pass .daypass {
            text-transform: uppercase;
            color: #37a8db;
            font-size: 12px;
            border-bottom: 1px solid #37a8db; }
    .hovermenu .vignettes article {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      behavior: url('/static/js/lib/PIE.htc');
      height: 352px;
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .hovermenu .vignettes article a {
        text-decoration: none; }
      .hovermenu .vignettes article a.absolute {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        cursor: pointer;
        text-decoration: none; }
      .hovermenu .vignettes article:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; }
      .hovermenu .vignettes article .bg-menu {
        margin-top: -18px;
        border-radius: none; }
      .hovermenu .vignettes article .vignette-bg {
        position: absolute;
        top: 0;
        z-index: 5; }
      .hovermenu .vignettes article .title-box {
        background: #fff;
        text-align: center;
        margin-top: 130px;
        line-height: 81px;
        font-size: 16px;
        display: block;
        width: 101%;
        position: relative;
        z-index: 20;
        height: 80px;
        text-decoration: none;
        font-family: 'american', Courier, 'Courier New';
        color: #444; }
      .hovermenu .vignettes article .multiline {
        line-height: 16px;
        padding-top: 26px; }
      .hovermenu .vignettes article .multiline-third {
        padding-top: 16px;
        line-height: 16px; }
      .hovermenu .vignettes article footer {
        position: absolute;
        z-index: 20;
        bottom: 0;
        text-align: left;
        background: #000;
        padding: 20px 0 20px 20px;
        font-weight: lighter;
        color: #ffffff;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0 0 5px 5px;
        behavior: url('/static/js/lib/PIE.htc');
        width: 100%;
        height: 142px; }
        .hovermenu .vignettes article footer span {
          width: 100%;
          text-align: left;
          display: inline-block; }
        .hovermenu .vignettes article footer .time {
          font-size: 16px;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode_grand_texte {
          padding-top: 5px !important; }
        .hovermenu .vignettes article footer .episode {
          color: #999999;
          font-size: 15px;
          line-height: 18px;
          padding-top: 12px;
          padding-bottom: 20px;
          display: inline-block;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode {
          height: 40px; }
        .hovermenu .vignettes article footer a {
          text-align: left;
          color: #e85d10;
          font-size: 18px;
          font-weight: lighter;
          text-decoration: none;
          font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }
        .hovermenu .vignettes article footer.vignettes-small-teaser {
          padding: 8px 0 0 20px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .episode {
            font-size: 15px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .teaser-link {
            font-size: 18px;
            color: #e85d10; }
        .hovermenu .vignettes article footer .pass {
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
          background: #262626 url('/static/images/sport/icon-daypass.png') 8px center no-repeat;
          line-height: 35px;
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          behavior: url('/static/js/lib/PIE.htc'); }
          .hovermenu .vignettes article footer .pass .daypass {
            text-transform: uppercase;
            color: #37a8db;
            font-size: 12px;
            border-bottom: 1px solid #37a8db; }
    .hovermenu .vignettes article {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      behavior: url('/static/js/lib/PIE.htc');
      height: 352px;
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .hovermenu .vignettes article a {
        text-decoration: none; }
      .hovermenu .vignettes article a.absolute {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        cursor: pointer;
        text-decoration: none; }
      .hovermenu .vignettes article:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; }
      .hovermenu .vignettes article .bg-menu {
        margin-top: -18px;
        border-radius: none; }
      .hovermenu .vignettes article .vignette-bg {
        position: absolute;
        top: 0;
        z-index: 5; }
      .hovermenu .vignettes article .title-box {
        background: #fff;
        text-align: center;
        margin-top: 130px;
        line-height: 81px;
        font-size: 16px;
        display: block;
        width: 101%;
        position: relative;
        z-index: 20;
        height: 80px;
        text-decoration: none;
        font-family: 'american', Courier, 'Courier New';
        color: #444; }
      .hovermenu .vignettes article .multiline {
        line-height: 16px;
        padding-top: 26px; }
      .hovermenu .vignettes article .multiline-third {
        padding-top: 16px;
        line-height: 16px; }
      .hovermenu .vignettes article footer {
        position: absolute;
        z-index: 20;
        bottom: 0;
        text-align: left;
        background: #000;
        padding: 20px 0 20px 20px;
        font-weight: lighter;
        color: #ffffff;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0 0 5px 5px;
        behavior: url('/static/js/lib/PIE.htc');
        width: 100%;
        height: 142px; }
        .hovermenu .vignettes article footer span {
          width: 100%;
          text-align: left;
          display: inline-block; }
        .hovermenu .vignettes article footer .time {
          font-size: 16px;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode_grand_texte {
          padding-top: 5px !important; }
        .hovermenu .vignettes article footer .episode {
          color: #999999;
          font-size: 15px;
          line-height: 18px;
          padding-top: 12px;
          padding-bottom: 20px;
          display: inline-block;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode {
          height: 40px; }
        .hovermenu .vignettes article footer a {
          text-align: left;
          color: #e85d10;
          font-size: 18px;
          font-weight: lighter;
          text-decoration: none;
          font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }
        .hovermenu .vignettes article footer.vignettes-small-teaser {
          padding: 8px 0 0 20px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .episode {
            font-size: 15px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .teaser-link {
            font-size: 18px;
            color: #e85d10; }
        .hovermenu .vignettes article footer .pass {
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
          background: #262626 url('/static/images/sport/icon-daypass.png') 8px center no-repeat;
          line-height: 35px;
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          behavior: url('/static/js/lib/PIE.htc'); }
          .hovermenu .vignettes article footer .pass .daypass {
            text-transform: uppercase;
            color: #37a8db;
            font-size: 12px;
            border-bottom: 1px solid #37a8db; }
    .hovermenu .vignettes article {
      position: relative;
      margin-bottom: 28px;
      margin-top: 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden;
      behavior: url('/static/js/lib/PIE.htc');
      height: 352px;
      width: 32.2033898305%;
      float: left;
      margin-right: 1.6949152542%; }
      .hovermenu .vignettes article a {
        text-decoration: none; }
      .hovermenu .vignettes article a.absolute {
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
        cursor: pointer;
        text-decoration: none; }
      .hovermenu .vignettes article:last-child {
        width: 32.2033898305%;
        float: right;
        margin-right: 0; }
      .hovermenu .vignettes article .bg-menu {
        margin-top: -18px;
        border-radius: none; }
      .hovermenu .vignettes article .vignette-bg {
        position: absolute;
        top: 0;
        z-index: 5; }
      .hovermenu .vignettes article .title-box {
        background: #fff;
        text-align: center;
        margin-top: 130px;
        line-height: 81px;
        font-size: 16px;
        display: block;
        width: 101%;
        position: relative;
        z-index: 20;
        height: 80px;
        text-decoration: none;
        font-family: 'american', Courier, 'Courier New';
        color: #444; }
      .hovermenu .vignettes article .multiline {
        line-height: 16px;
        padding-top: 26px; }
      .hovermenu .vignettes article .multiline-third {
        padding-top: 16px;
        line-height: 16px; }
      .hovermenu .vignettes article footer {
        position: absolute;
        z-index: 20;
        bottom: 0;
        text-align: left;
        background: #000;
        padding: 20px 0 20px 20px;
        font-weight: lighter;
        color: #ffffff;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0 0 5px 5px;
        behavior: url('/static/js/lib/PIE.htc');
        width: 100%;
        height: 142px; }
        .hovermenu .vignettes article footer span {
          width: 100%;
          text-align: left;
          display: inline-block; }
        .hovermenu .vignettes article footer .time {
          font-size: 16px;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode_grand_texte {
          padding-top: 5px !important; }
        .hovermenu .vignettes article footer .episode {
          color: #999999;
          font-size: 15px;
          line-height: 18px;
          padding-top: 12px;
          padding-bottom: 20px;
          display: inline-block;
          font-weight: lighter; }
        .hovermenu .vignettes article footer .episode {
          height: 40px; }
        .hovermenu .vignettes article footer a {
          text-align: left;
          color: #e85d10;
          font-size: 18px;
          font-weight: lighter;
          text-decoration: none;
          font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }
        .hovermenu .vignettes article footer.vignettes-small-teaser {
          padding: 8px 0 0 20px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .episode {
            font-size: 15px; }
          .hovermenu .vignettes article footer.vignettes-small-teaser .teaser-link {
            font-size: 18px;
            color: #e85d10; }
        .hovermenu .vignettes article footer .pass {
          position: absolute;
          bottom: 0;
          left: 0;
          text-align: center;
          font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
          padding-left: 10px;
          font-size: 12px;
          color: #999999;
          background: #262626 url('/static/images/sport/icon-daypass.png') 8px center no-repeat;
          line-height: 35px;
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
          behavior: url('/static/js/lib/PIE.htc'); }
          .hovermenu .vignettes article footer .pass .daypass {
            text-transform: uppercase;
            color: #37a8db;
            font-size: 12px;
            border-bottom: 1px solid #37a8db; }
  .hovermenu .clas-col {
    float: left;
    width: 230px;
    margin-right: 14px; }
    .hovermenu .clas-col h3, .hovermenu .clas-col h3 a {
      font-size: 26px;
      line-height: 26px;
      margin-bottom: 12px;
      text-decoration: none;
      color: #000000; }
    .hovermenu .clas-col.clas-col-last {
      margin-right: 0; }
    .hovermenu .clas-col .clas-col-content {
      height: 360px;
      position: relative;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      behavior: url('/static/js/lib/PIE.htc');
      position: relative;
      background: #ffffff; }
      .hovermenu .clas-col .clas-col-content p {
        color: #4d4d4d;
        font-size: 16px;
        line-height: 20px;
        height: 310px;
        padding: 0 19px; }
        .hovermenu .clas-col .clas-col-content p strong {
          font-family: 'vagrounded-bold', Arial, Helvetica, sans-serif; }
      .hovermenu .clas-col .clas-col-content img {
        position: relative;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        behavior: url('/static/js/lib/PIE.htc'); }
      .hovermenu .clas-col .clas-col-content .discover {
        width: 100%;
        display: inline-block;
        text-align: center;
        color: #e85d10;
        font-size: 18px; }
      .hovermenu .clas-col .clas-col-content .orange {
        color: #e85d10; }
      .hovermenu .clas-col .clas-col-content .bottom {
        color: #000000;
        line-height: 20px;
        bottom: 16px;
        position: absolute;
        width: 100%; }
        .hovermenu .clas-col .clas-col-content .bottom .starts {
          font-size: 14px;
          padding-left: 46px; }
        .hovermenu .clas-col .clas-col-content .bottom .price {
          padding-bottom: 16px;
          font-family: 'american', Courier, 'Courier New';
          font-size: 16px; }
          .hovermenu .clas-col .clas-col-content .bottom .price .unit {
            font-size: 37px; }
          .hovermenu .clas-col .clas-col-content .bottom .price .cents {
            font-size: 20px; }
        .hovermenu .clas-col .clas-col-content .bottom .old-price {
          text-decoration: line-through; }
    .hovermenu .clas-col .clas-col-long p {
      padding: 0 12px;
      font-size: 15px; }
    .hovermenu .clas-col .clas-col-content-centered {
      text-align: center; }
  .hovermenu .clas-col-avantage-abo {
    width: 220px; }

.dropdown {
  position: relative;
  margin-bottom: 24px;
  z-index: 501; }
  .dropdown p {
    padding-top: 30px !important; }
  .dropdown .dropdown-select {
    position: absolute;
    right: 0;
    top: 30px; }
    .dropdown .dropdown-select.open {
      -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7);
      -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7);
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.7);
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000')";
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000'); }
    .dropdown .dropdown-select .dropdown-title {
      background: #ededed url('/static/images/epg/icon-arrow-down-grey.png') no-repeat right center;
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      -ms-border-radius: 6px 6px 0 0;
      -o-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
      font-size: 15px;
      padding: 15px 50px 15px 15px;
      border-bottom: 1px solid #dbdbdb;
      cursor: pointer; }
      .dropdown .dropdown-select .dropdown-title img {
        vertical-align: middle;
        margin-right: 10px; }
    .dropdown .dropdown-select .is-closed {
      background: #fff url('/static/images/epg/icon-arrow-down.png') no-repeat right center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px; }
    .dropdown .dropdown-select .dropdown-list {
      display: none;
      font-family: 'american', Courier, 'Courier New';
      font-size: 16px;
      background-color: #ffffff;
      padding-bottom: 20px; }
      .dropdown .dropdown-select .dropdown-list li {
        padding: 0 15px; }
        .dropdown .dropdown-select .dropdown-list li a {
          display: block;
          padding: 10px 32px;
          border-top: 1px solid #dbdbdb;
          text-decoration: none; }
        .dropdown .dropdown-select .dropdown-list li:hover {
          font-weight: bold; }
        .dropdown .dropdown-select .dropdown-list li.first a {
          padding-top: 28px;
          border: none; }
