@charset "UTF-8";
/* color magritte 2015 */
/* offer colours */
/* =) */
/* Color product */
/* Nuance de gris */
/* Noir/gris transparent */
/* page offre */
/* On doit ajouter cette fonction lorsque compass utilise les nombres */
/*
 * A partial implementation of the Ruby list functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/lists.rb
 */
/*
 * A partial implementation of the Ruby constants functions from Compass:
 * https://github.com/Compass/compass/blob/stable/lib/compass/sass_extensions/functions/constants.rb
 */
/*
 * A partial implementation of the Ruby display functions from Compass:
 * https://github.com/Compass/compass/blob/stable/core/lib/compass/core/sass_extensions/functions/display.rb
 */
/* MIXIN FOR FUNNEL */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.wide-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .wide-container:after {
    content: " ";
    display: block;
    clear: both; }

.rainbow-bg {
  background: url('/static/images/rainbow.jpg') 50% 0 repeat-y;
  padding-bottom: 25px; }
  .rainbow-bg h1 {
    line-height: 100%;
    margin: 5px 0 0;
    color: white;
    font-family: "american", Courier,"Courier New";
    font-size: 2.5em;
    border-bottom: none;
    padding-top: 0px; }
  .rainbow-bg p {
    color: #fff;
    padding-top: 12px;
    line-height: 20px; }

.clear {
  width: 100%;
  clear: both; }

.betv-gradient {
  background: url('/static/images/gradient-betv.jpg');
  height: 2px;
  max-width: 100%; }

.betv-gradient-1px {
  background: url('/static/images/gradient-betv.jpg');
  height: 1px;
  max-width: 100%; }

aside.thumb {
  text-align: center;
  height: 51px; }

.thumb-black {
  background: #000000 url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #ffffff;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-white {
  background: #ffffff url('/static/images/thumb-white.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-white-bg {
  background: -owg(url('/static/images/thumb-white.png') 50% 24px no-repeat, #ffffff url('/static/images/bg-thumb-white.png'));
  background: -webkit(url('/static/images/thumb-white.png') 50% 24px no-repeat, #ffffff url('/static/images/bg-thumb-white.png'));
  background: -moz(url('/static/images/thumb-white.png') 50% 24px no-repeat, #ffffff url('/static/images/bg-thumb-white.png'));
  background: -o(url('/static/images/thumb-white.png') 50% 24px no-repeat, #ffffff url('/static/images/bg-thumb-white.png'));
  background: url('/static/images/thumb-white.png') 50% 24px no-repeat, #ffffff url('/static/images/bg-thumb-white.png');
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-grey-bg {
  background: -owg(url('/static/images/thumb-white.png') 50% 24px no-repeat, #d8d8d8 url('/static/images/bg-thumb-grey.png'));
  background: -webkit(url('/static/images/thumb-white.png') 50% 24px no-repeat, #d8d8d8 url('/static/images/bg-thumb-grey.png'));
  background: -moz(url('/static/images/thumb-white.png') 50% 24px no-repeat, #d8d8d8 url('/static/images/bg-thumb-grey.png'));
  background: -o(url('/static/images/thumb-white.png') 50% 24px no-repeat, #d8d8d8 url('/static/images/bg-thumb-grey.png'));
  background: url('/static/images/thumb-white.png') 50% 24px no-repeat, #d8d8d8 url('/static/images/bg-thumb-grey.png');
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-grey {
  background: #d8d8d8 url('/static/images/thumb-white.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-light-grey {
  background: #e0e0e0 url('/static/images/thumb-white.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-dark {
  background: #313131 url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-dark-grey {
  background: #1a1a1a url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #ffffff;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-1f1f1f {
  background: #1f1f1f url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #ffffff;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-303030 {
  background: #303030 url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #ffffff;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-e0e0e0 {
  background: #e0e0e0 url('/static/images/thumb-white.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-f3f3f3 {
  background: #f3f3f3 url('/static/images/thumb-white.png') 50% 24px no-repeat;
  color: #000000;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.thumb-222c56 {
  background: #222c56 url('/static/images/thumb-black.png') 50% 24px no-repeat;
  color: #ffffff;
  font-family: 'vagrounded-light', Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  behavior: url('/static/js/lib/PIE.htc');
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 51px;
  width: 161px;
  margin: 2px 0 0 0;
  z-index: 900; }

.customInput input {
  display: inline;
  float: left; }
.customInput input[type=text] {
  background: #d3d3d3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 188px;
  padding: 0 0 0 8px;
  height: 40px;
  border: none;
  font-size: 16px;
  line-height: 40px; }
.customInput input[type=submit] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #e85d10;
  border: none;
  width: 43px;
  height: 40px;
  color: #ffffff;
  font-size: 1em;
  margin-left: -43px;
  padding: 0;
  font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }

.fb-like {
  text-align: right; }
  .fb-like .fb_like_box {
    float: right;
    height: 40px;
    text-align: center;
    line-height: 40px;
    width: 62px;
    color: #ffffff;
    background: #243c7a; }

.fb-like-box {
  background: #fff; }

.sprites {
  display: inline-block;
  background: url('/static/images/spritesheet.png') no-repeat; }

.fb {
  width: 21px;
  height: 21px;
  background-position: 0 0; }

.gplus {
  width: 21px;
  height: 21px;
  background-position: -22px 0; }

.tw {
  width: 21px;
  height: 21px;
  background-position: -44px 0; }

.home {
  width: 16px;
  height: 15px;
  background-position: -1px -22px; }

.magnifier {
  width: 14px;
  height: 15px;
  background-position: -18px -22px; }

.sprites-betv {
  display: inline-block;
  background: url('/static/images/sprites-betv.png') no-repeat; }

.betv-one {
  width: 21px;
  height: 21px;
  background-position: 0 0; }

nav#sousMenu {
  position: relative;
  width: 100%;
  background: url('/static/images/floating-menu-bg.jpg') no-repeat center bottom;
  background-size: 100%; }
  nav#sousMenu ul {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    nav#sousMenu ul:after {
      content: " ";
      display: block;
      clear: both; }
    nav#sousMenu ul li {
      display: inline;
      float: left;
      line-height: 50px;
      padding: 0 25px; }
      nav#sousMenu ul li a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif; }
      nav#sousMenu ul li a:hover {
        color: #e85d10; }
      nav#sousMenu ul li.active a {
        color: #e85d10; }

nav#subMenuOption {
  position: relative;
  width: 100%;
  border-bottom: 10px solid #ffffff;
  background: url('/static/images/rainbow.jpg') center bottom repeat-y;
  background-size: 100%; }
  nav#subMenuOption ul {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
    nav#subMenuOption ul:after {
      content: " ";
      display: block;
      clear: both; }
    nav#subMenuOption ul li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      vertical-align: middle;
      margin-right: 7px; }
      nav#subMenuOption ul li a {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        vertical-align: middle;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        behavior: url('/static/js/lib/PIE.htc');
        position: relative;
        color: #ffffff;
        font-size: 16px;
        font-family: 'vagrounded-thin', Arial, Helvetica, sans-serif;
        line-height: 25px;
        text-decoration: none;
        padding: 20px 5px;
        height: 80px;
        width: 130px;
        background: url('/static/images/shadow.png');
        text-align: center; }
      nav#subMenuOption ul li a:hover {
        color: #e85d10;
        background: #ffffff; }
      nav#subMenuOption ul li .active {
        color: #e85d10;
        background: #ffffff; }
    nav#subMenuOption ul .last {
      margin: 0; }

nav#subMenuOption.alternate {
  border-bottom: 2px solid #ffffff;
  border-top: 10px solid #ffffff; }
  nav#subMenuOption.alternate a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
