<header>
		<section class="container" id="hud">
				<div>
				{{!
						<a href="/fr/offre/betv-go/">Be tv Go</a>&nbsp;-&nbsp;
						<a href="/fr/avantage/be-a-la-demande/">Be à la demande</a>
				}}
				</div>

				<div id="searchbox">
				{{!
						<input type="text" placeholder="Chercher sur Be tv" />
						<span class="sprites magnifier"></span>
				}}
				</div>
				<div>
						<a href="/fr/contact/telephone/">Contacter Be tv</a> -
						Partagez
						<a href="https://www.facebook.com/Betv.FanPage" class="fb sprites"></a>
						<a href="https://plus.google.com/u/0/108929015862222785558/posts" class="gplus sprites"></a>
						<a href="https://twitter.com/Betv_Belgique" class="tw sprites"></a>
				</div>
		</section>

		<div class="clear"></div>

		<nav class="wide-container">
				<div class="container mainmenu">
						<div id="headerMenu">
								<a href="/fr/"><img src="/static/assets/images/logo-betv.png" class="logo-betv" width="95" height="67" /></a>
								<ul class="headerMenu-menu">
										<li class="headerMenu-list btn-hidden">
												<a href="/fr/" class="menu-home "><span class="home sprites"></span></a>
										</li>
										<li class="headerMenu-list">
												<a href="/fr/programme-tv/" class="headerMenu-lien {{getHeaderMenuActive  'home' id }}">Grille des programmes</a>
										</li>
										<li class="headerMenu-list hasHoverMenu" >
												<a href="/fr/offre/" class="headerMenu-lien {{getHeaderMenuActive  'offre' id }}">Nos offres</a>
																						</li>
										<li class="headerMenu-list hasHoverMenu">
												<a href="/fr/avantage/" class="headerMenu-lien {{getHeaderMenuActive  'home' id }}">Avantages abonnés</a>
												<!-- DROPDOWN -->
										</li>
										<li class="headerMenu-list hasHoverMenu">
												<a href="/fr/info/" class="headerMenu-lien {{getHeaderMenuActive  'home' id }}" >Aide</a>
												<!-- DROPDOWN -->
										</li>
										<li class="headerMenu-list">
												<a href="/fr/offre/" class="abonner">S'abonner</a>
										</li>
								</ul>
						</div>

				</div>
		</nav>

		<div class="clear"></div>
</header>
<div class="betv-gradient-1px">&nbsp;</div>
