<div class="help-rainbow">
    <div class="container">
        <div class="help-title">
            <h2 >Besoin d'aide ?</h2>
        </div>
        <div class="help-description">
            <span>
                Pour toutes vos questions<br />
                contactez-nous
            </span>
        </div>

        <div class="help-contact">
            <span class="title">Par email</span>
            <a href="/fr/contact/email/" class="button">
                Contactez-nous
            </a>
        </div>
        <div class="help-phone">
            <span class="title">Par téléphone</span>
            <a href="/fr/contact/telephone/" class="phone">
                02 730 40 50
            </a>
        </div>
    </div>
</div>
