{{getBreadCrumb id langue}}
		<section class="list-series" id="list-series">
			<header>
				<h3 class="offer">Tout Be tv </h3>
				<ul class="home-offer-nav">
					<li><a href="/fr/theme/film/">Cinéma</a></li>
					<li><a href="/fr/theme/serie/">Séries</a></li>
					<li><a href="/fr/theme/sport/">Sport</a></li>
					<li><a href="/fr/theme/divertissement/">Infos & Emissions</a></li>
				</ul>

			</header>

			<!--row 1-->
			<div class="vignettes">

						<article>
							<a href="34419139" id="Game-Of-Thrones-V" class="btn-popupFiche home-link-100"></a>
							<img src="/static/assets/images/vignettes/series/game-of-thrones-v.jpg" alt="Game Of Thrones V" width="232" height="170" class="vignette-bg" />
							<div class="title-box">
								Game Of Thrones V
							</div>
							<footer>
								<span class="chaine">
								  Série fantastique
								</span><br />
								<span class="episode">
								  Batailles et dragons « direct from USA ».
								</span>
								<a href="34419139" id="Game-Of-Thrones-V" class="btn-popupFiche">
									Découvrir
								</a>
							</footer>
						</article>

						<article>
							<a href="31079266" id="The-Grand-Budapest-Hotel" class="btn-popupFiche home-link-100"></a>
								<img src="/static/assets/images/vignettes/cinema/the-grand-budapest-hotel.jpg" alt="The Grand Budapest Hotel" width="232" height="170" class="vignette-bg" />
								<div class="title-box">
									The Grand Budapest Hotel
								</div>
								<footer>
									<span class="chaine">
									  Comédie dramatique
									</span><br />
									<span class="episode">
										Le vol 100% loufoque d’un tableau de maître.
									</span>
									<a href="31079266" id="The-Grand-Budapest-Hotel" class="orange btn-popupFiche">
										Découvrir
									</a>
								</footer>
						</article>

						<article>
							<a href="34488083" id="X-Men-Days-Of-Future-Past" class="btn-popupFiche home-link-100"></a>
							<img src="/static/assets/images/vignettes/cinema/x-men-days-of-the-future-past.jpg" alt="X-Men : Days Of Future Past" width="232" height="170" class="vignette-bg" />
							<div class="title-box multiline">
								X-Men : <br/>Days Of Future Past
							</div>
							<footer>
								<span class="chaine">
								  Fantastique
								</span><br />
								<span class="episode">
								  Back to the 70’s pour Hugh Jackman. Du grand spectacle!
								</span>
								<a href="34488083" id="X-Men-Days-Of-Future-Past" class="btn-popupFiche">
									Découvrir
								</a>
							</footer>
						</article>

						<article>
							<a href="31774649" id="Baby-sitting" class="btn-popupFiche home-link-100"></a>
							<img src="/static/assets/images/vignettes/cinema/baby-sitting.jpg" alt="Baby-sitting" width="232" height="170" class="vignette-bg" />
							<div class="title-box">Baby-sitting</div>
							<footer>
								<span class="chaine">
									Comédie
								</span><br />
								<span class="episode">
									Et si le baby-sitter n'était pas du tout sérieux ?
								</span>
								<a href="31774649" id="Baby-sitting" class="btn-popupFiche">
									Découvrir
								</a>
							</footer>
						</article>
						</div>
					<!--row 2-->
					<div class="vignettes vignettes-2">
							<article>
								<a href="34488085" id="Les-Requins-de-la-colere" class="btn-popupFiche home-link-100"></a>
								<img src="/static/assets/images/vignettes/divertissement/les-requins-de-la-colere.jpg" alt="Les Requins de la colère" width="232" height="170" class="vignette-bg" />
								<div class="title-box">
									Les Requins de la colère
								</div>
								<footer>
									<span class="chaine">
										Documentaire
									</span><br />
									<span class="episode">
										Un bon requin est un requin VIVANT !
									</span>
									<a href="34488085" id="Les-Requins-de-la-colere" class="btn-popupFiche">
										Découvrir
									</a>
								</footer>
							</article>

							<article>
								<a href="34578354" id="NBA-playoffs" class="btn-popupFiche home-link-100"></a>
								<img src="/static/assets/images/vignettes/sport/nba-playoffs.jpg" alt="NBA : playoffs" width="232" height="170" class="vignette-bg" />
								<div class="title-box">
									NBA : playoffs
								</div>
								<footer>
									<span class="chaine">
									  Sport
									</span><br />
									<span class="episode">
										Duels au sommet des paniers made in USA.
									</span>
									<a id="nfl" href="34578354" id="NBA-playoffs" class="btn-popupFiche">
										Découvrir
									</a>
								</footer>
							</article>

							<article>
								<a href="34863224" id="cinq-ans-avec-Jamel" class="btn-popupFiche home-link-100"></a>
								<img src="/static/assets/images/vignettes/divertissement/5-ans-avec-Jamel.jpg" alt="5 ans avec Jamel" width="232" height="170" class="vignette-bg" />
								<div class="title-box">
									5 ans avec Jamel
								</div>
								<footer>
									<span class="chaine">
									  Documentaire
									</span><br />
									<span class="episode">
										Organisateur, réal et humoriste : Jamel, l’évolution !
									</span>
								  <a id="cinq-ans-avec-Jamel" href="34863224" class="btn-popupFiche">
										Découvrir
									</a>
								</footer>
							</article>

							<article>
								<a href="34293083" id="Olive-Kitteridge" class="btn-popupFiche home-link-100"></a>
								<img src="/static/assets/images/vignettes/series/olive-kitteridge.jpg" alt="Olive Kitteridge" width="232" height="170" class="vignette-bg" />
								<div class="title-box">
									Olive Kitteridge
								</div>
								<footer>
									<span class="chaine">
									  Mini-série
									</span><br />
									<span class="episode">
										Petits secrets et grandes tragédies en Nouvelle-Angleterre.
									</span>
								  <a id="Olive-Kitteridge" href="34293083" class="btn-popupFiche">
										Découvrir
									</a>
								</footer>
							</article>
						</div>
		 <aside class="thumb">
				<a href="#betv-go" class="thumb-f3f3f3 buttonScroll"></a>
			</aside>
		</section>


{{>partials/help}}
